<!DOCTYPE html>
<html>
<head>
  <title>AzTutar - Türkiye'nin ilk kampanya sitesi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="containers">
    <a href="/products">
      <div id="left"></div></a>
    <div id="right">

      <div id="user_nav">

        <% if user_signed_in? %>
            Signed in as <%= current_user.email %>
            <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>.
        <% end %>

      </div>
    </div>
  </div>
</div>
<div id="main">

  <div id="containers">
  <%= yield %>
    </div>
</div>
<div id="footer">
  <div id="containers">
    <a href="/welcomes">
      <div id="left">
        asd
      </div>
    </a>
    <div id="right">
      asddd
    </div>
  </div>
</div>
</body>
</html>
